- extends 'base.html'
- block main
  - if messages
    - for message in messages
      .card-panel.{ :class => "{{ message.tags }}" }
        = message
  .row
    .col.s12.m12.l12.app
      .card
        .card-content
          %span.card-title.black-text
            %h4.center
              = object
              Data: {% now 'd/m/Y'%}
              %a.right.btn-floating.btn-large.waves-effect.waves-light.green.modal-trigger{:href => "#ficha_new"}
                %i.fa.fa-plus
          .row
            %table.hoverable.responsive-table
              %thead
                %tr
                  %th{:data-field =>"n_ficha"}
                    Ficha
                  %th{:data-field =>"crianca"}
                    Nome da Criança
                  %th{:data-field =>"responsavel"}
                    Responsável
                  %th{:data-field =>"telefone"}
                    Telefone
                  %th{:data-field =>"ativo"}
                    Status
              %tbody
              - for ficha in list_fichas
                %tr
                  %td
                    = ficha.n_ficha
                  %td
                    = ficha.crianca
                  %td
                    = ficha.responsavel
                  %td
                    = ficha.telefone
                  %td
                    %form{:action => "", :id => "{{ficha.id}}", :method => "POST"}
                      - csrf_token
                      %input{:type => "hidden", :name => "_submit_ficha_id_status", :value => "{{ficha.id}}"}
                      .switch
                        %label
                          - if ficha.ativo
                            %input{:id => "id_ficha_{{ficha.id}}", :checked => "", :type => "checkbox"}/
                          - else
                            %input{:id => "id_ficha_{{ficha.id}}", :type => "checkbox"}/
                          %span.lever
                :javascript
                  $(function(){
                    $('#id_ficha_{{ficha.id}}').on('change',function(){
                      $('#{{ficha.id}}').submit();
                    });
                  });
              - empty
                %tr
                  %td
                    %h5 Ainda não tem criança nesta sala
  - include 'central/ficha_form.html'